.bannerCont2 {
  margin: auto;
  /* border: 2px solid red; */
  z-index: 1;
  margin-top: 20%;
  position: relative;
  text-align: center;
}
.bannerImg2 {
  width: 100%;
  height: 85vh;
  margin-bottom: 50px;
  /* border-radius: 25px; */
}
.notSure1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 250px;
  line-height: 10px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  /* letter-spacing: 15px; */
  line-height: 100%;
  height: 180px;
  padding: 10px;
  /* border: 1px solid wheat; */
}
.button2 {
  position: absolute;
  top: 70%;
  left: 8%;
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  /* margin-left: auto; */
}
