.payment-container{
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    height: 500px;
    width: 80%;
    display: flex;
    padding-left: 2%;
    gap: 25px;
}
.left{
    /* border: 1px solid red; */
    width: 55%;

}
.right{
    border: 1px solid red;
    width: 40%;
    position: sticky;

}
.add{
    border: 2px solid gray;
    height: 15%;
    border-radius:5px ;
    padding: 10px;
    padding-top: 0;
}
.edit{
    float: right;
    border-bottom: 1px solid black;
    margin-right: 15px;
    cursor: pointer;
    font-weight: 600;
}
.pay{
    display: flex;
    position: relative;

}
#sel{
    height: 50%;
    width: 35%;
    position: absolute;
    right: 10px;
    top: 15%;
    border-radius: 8px;
}
.editImg{
    width: 5%;
    height: 5%;
}