.login-container {
  text-align: center;
  margin: auto;
  width: 35%;
  height: 500px;
  border: 1px solid red;

  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
.inp {
  width: 90%;
  height: 35px;
  border-radius: 5px 5px 0 0;
}
.inp2 {
  width: 90%;
  height: 35px;
  border-radius: 0 0 5px 5px;
}

.inp3 {
  width: 90%;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(222, 16, 97);
  border: none;
}
.via-google {
  border: 1px solid rgb(85, 83, 83);
  width: 90%;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  position: relative;
}
.via-google img {
  width: 8%;
  height: 70%;
  position: absolute;
  left: 15px;
  top: 5px;
}
.p2 {
  font-size: 25px;
  font-weight: 500;
}
