.price {
  float: right;
}
.imgdiv {
  /* margin-top: 20px; */
  height: 200px;
  width: 450px;
  /* background-color: blueviolet; */
  /* border: 1px solid; */
  border-radius: 15px;
}

.discriptiondiv {
  /* width: 70%; */
  width: 500px;
  height: 350px;
  float: right;
  /* border: 1px solid green; */
  margin-left: 10px;
  line-height:19px;
  color: black;
  
}
.Leftdiv {
  border: .5px solid gray;
  display: flex;
  width: 95%;
  margin-left: 5px;
  text-align: left;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.night {
  color: gray;

  font-weight: lighter;
}
.name {
  font-size: 25px;
  line-height: 30px;
}
.star {
  color: orangered;
}
.beds{
    display: flex;
}
.Cards-main-container{
  display: flex;
  
}
.right-div-products-map-container{
  width: 400px;
}