.col-banner-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 5%;
  margin-left: 2%;
}
.row-banner {
  display: flex;
  margin-left: 60px;
}

.pic1 {
  height: 450px;
  width: 700px;
  border-radius: 5px 0 0 5px;
}
.pic2 {
  width: 200px;
  height: 212px;
  border-radius: 5px 0 0 5px;
  padding: 4%;
}
.pic3 {
  width: 200px;
  height: 212px;
  border-radius: 0 5px 5px 0;
  padding: 4%;
}
