.price {
  float: right;
}
.imgdiv {
  height: 260px;
  width: 260px;
  border: 1px solid;
}
.image{
    width: 40%;
    height: 20px;
}
.discriptiondiv {
  width: 70%;
  float: right;
  border: 1px solid green;
  margin-left: 10px;

}
.Leftdiv {
  border: 1px solid rgb(217, 0, 255);
  display: flex;
  width: 55%;
  
}
.night {
  color: gray;

  font-weight: lighter;
}
.name {
  font-size: 25px;
}
.star {
  color: orangered;
}
.beds{
    display: flex;
}
